<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="text-align: center;">
        <h1 th:if="${info != null}" th:text="${info}"></h1>

        <form action="/login" method="post">
            <input name="login" type="text" placeholder="Podaj login"> <br/>
            <input name="password" type="password" placeholder="Podaj hasło"> <br/>
            <input type="submit" value="Zaloguj się"> <br/>
        </form>
    </div>
</body>
</html>